trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  imageName: 'rashidrahim9716/webapi_cicd'  # <-- your Docker Hub repo name

steps:
- task: Docker@2
  displayName: Build and Push Docker Image
  inputs:
    command: buildAndPush
    repository: $(imageName)
    dockerfile: '**/Dockerfile'
    containerRegistry: 'DockerHub-webapi_cicd'  # <-- your service connection name
    tags: |
      latest
